{% extends 'users/usersBase.html.twig' %}

{% block usersTitle %}{{controller_name}}{% endblock %}

{% block usersBody %}
<h2>{% if editMode %} Modification de l'article : {{ articles.title }}{% else %} Création d'un article {% endif %}</h2>
<p>Remplissez tous les champs ci dessous et enregister pour que votre article soit visible sur le site.</p>

{{ form_start(form) }}
<div class="container">

    <div class="row">
        <div class="col-25"><label for="fname">Titre de l'article</label></div>
        <div class="col-75">{{ form_widget(form.title) }}</div>
    </div>

    <div class="col-25"><label for="fname">Url de la photo</label></div>
    <div class="row">
        <div class="col-75">{{ form_widget(form.thumb) }}</div>
    </div>

    <div class="col-25"><label for="fname">Choisir une catégorie</label></div>
    <div class="row">
        <div class="col-75">{{ form_widget(form.categories) }}</div>
    </div>

    <div><label for="fname">Contenu de l'article</label></div>
    <div class="row">
        <div>{{ form_widget(form.content) }}</div>
    </div>
    <div class="row">
        <input type="submit" value="{% if editMode %} Modifier {% else %} Enregistrer {% endif %}">
    </div>
</div>
{{ form_end(form) }}
{% endblock %}