{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<h2>{{ pluralize(categories|length, 'catégorie') }}</h2>

<article class="page_les_articles">
    <div class="cards">
        {% for category in categories %}
        <div class="card">
            <div class="card_img" style="background-image: url({{asset('assets/images/carte.jpg')}});">
                <h4 class="card_title"><b>{{ category.name }}</b></h4> 
            </div>
            <div class="card_body">
                <a href="{{ path('admin_categories_show', {'id': category.id}) }}">En savoir plus <span>&#8594;</span></a>
            </div>
        </div>
        {% else %}
            <p>Aucune catégorie en ce moment
            <a href="{{ path('admin_categories_add') }}">Ajouter une catégorie <span>&#8594;</span></a></p>
        {% endfor %}
    </div>
</article>

{% endblock %}
