{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<article class="accueil">
    <h2>Histoire Du Monde</h2>
    <p>Histoire Du Monde est destiné à toutes les personnes qui souhaitent découvrir ou redécouvrir l’Histoire. Les articles sont classés par zones géographiques, civilisations et ordre chronologique pour apporter une cohérence rationnelle entre les événements qui marquent l’Histoire. Histoire Du Monde décrit, de manière simple et efficace, l’Histoire de l’humanité à travers les siècles, de l’apparition des premiers organismes vivants sur terre à la colonisation de la planète Mars.</p>
    <p>Le début de la préhistoire est marquée par l’apparition des premiers organismes vivants. Puis ce sont les premiers dinosaures et les premiers primates qui voient le jours. Ensuite apparaissent les australopithèques, dont le squelette de Lucy est découvert en 1974 en Ethiopie. Plus tard, l’homo-habilis se développe en Afrique.</p>
    <p>Il est capable de fabriquer et d’utiliser des outil. Bien après, l’homo-erectus commence à marcher complètement droit et debout dans la savane. Puis, l’homme de Neandertal voit le jour. Il commence à maîtriser le feu et à parler. Enfin, l’évolution donne vie à l’homme moderne qui colonise le monde, peint, sculpte et chasse. Il finit par se sédentariser pour écrire son histoire dans une nouvelle période historique nommée antiquité.</p>  
    <p>Histoire du Monde, ce sera également (pour très bientôt) des récits historiques fictifs sous la forme de contes… de la naissance d’Anna en Mésopotamie en 10 000 avant Jésus-Christ à son installation sur Mars avec son chat Horus.</p>
    <p><img src="{{ asset('assets/images/colonisation-homme-prehistoire.jpg')}}"></p>
    <p>Le début de la préhistoire est marquée par l’apparition des premiers organismes vivants. Puis ce sont les premiers dinosaures et les premiers primates qui voient le jours. Ensuite apparaissent les australopithèques, dont le squelette de Lucy est découvert en 1974 en Ethiopie. Plus tard, l’homo-habilis se développe en Afrique.</p>
    <p>Il est capable de fabriquer et d’utiliser des outil. Bien après, l’homo-erectus commence à marcher complètement droit et debout dans la savane. Puis, l’homme de Neandertal voit le jour. Il commence à maîtriser le feu et à parler. Enfin, l’évolution donne vie à l’homme moderne qui colonise le monde, peint, sculpte et chasse. Il finit par se sédentariser pour écrire son histoire dans une nouvelle période historique nommée antiquité.</p>  
    <h2>La Préhistoire</h2>
    <p>Le début de la préhistoire est marquée par l’apparition des premiers organismes vivants. Puis ce sont les premiers dinosaures et les premiers primates qui voient le jours. Ensuite apparaissent les australopithèques, dont le squelette de Lucy est découvert en 1974 en Ethiopie. Plus tard, l’homo-habilis se développe en Afrique.</p>
    <p>Il est capable de fabriquer et d’utiliser des outil. Bien après, l’homo-erectus commence à marcher complètement droit et debout dans la savane. Puis, l’homme de Neandertal voit le jour. Il commence à maîtriser le feu et à parler. Enfin, l’évolution donne vie à l’homme moderne qui colonise le monde, peint, sculpte et chasse. Il finit par se sédentariser pour écrire son histoire dans une nouvelle période historique nommée antiquité.</p>  
    <p><img src="{{ asset('assets/images/grottes-lascaux-prehistoire.jpg')}}"></p>    
    <h2>L’ANTIQUITÉ</h2>  
    <p>Histoire du Monde, ce sera également (pour très bientôt) des récits historiques fictifs sous la forme de contes… de la naissance d’Anna en Mésopotamie en 10 000 avant Jésus-Christ à son installation sur Mars avec son chat Horus.</p>
    <p>Le début de la préhistoire est marquée par l’apparition des premiers organismes vivants. Puis ce sont les premiers dinosaures et les premiers primates qui voient le jours. Ensuite apparaissent les australopithèques, dont le squelette de Lucy est découvert en 1974 en Ethiopie. Plus tard, l’homo-habilis se développe en Afrique.</p>
    <p>Il est capable de fabriquer et d’utiliser des outil. Bien après, l’homo-erectus commence à marcher complètement droit et debout dans la savane. Puis, l’homme de Neandertal voit le jour. Il commence à maîtriser le feu et à parler. Enfin, l’évolution donne vie à l’homme moderne qui colonise le monde, peint, sculpte et chasse. Il finit par se sédentariser pour écrire son histoire dans une nouvelle période historique nommée antiquité.</p> 
    <p><img src="{{ asset('assets/images/mesopotamie-moyen-orient-antiquite-catal-huyuk-740x472.jpg')}}"></p>  
    <p>Histoire du Monde, ce sera également (pour très bientôt) des récits historiques fictifs sous la forme de contes… de la naissance d’Anna en Mésopotamie en 10 000 avant Jésus-Christ à son installation sur Mars avec son chat Horus.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
    <p>L’Antiquité est une période de l’Histoire qui se situe entre 10 000 ans avant Jésus-Christ et 476 ans après Jésus-Christ. Au début de l’antiquité l’homme moderne commence à cultiver des champs et à construire des villes. Puis il invente la roue et l’écriture pour finalement se sédentariser. Naissent alors les religions, la différenciation sociale et les premières batailles.</p>      
    <p>Puis la royauté s’instaurent et les premiers Empires se battissent. Pendant l’antiquité, l’homme ne cesse de vouloir conquérir de nouveaux territoires. C’est alors que de longues et fructueuses périodes de prospérité se succèdent à de périlleuses périodes de guerre.</p>      
    <p><img src="{{ asset('assets/images/tour-babel-pieter-brueghel-768x576.jpg')}}"></p>
    <p>L’Antiquité débute en 10 000 ans avant Jésus-Christ lorsque les hommes commencent à cultiver des champs en Mésopotamie. Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute. Les articles ci-dessous sont classés par zones géographiques, civilisations et ordre chronologique.</p>
</article>
    
<aside class="accueil_aside">
    <div class="accueil_aside_cards">
    {% for category in categories %}
        <div class="accueil_aside_cards_card">
            <div class="accueil_aside_cards_card_img" style="background-image: url({{asset('assets/images/carte.jpg')}});">
                <h4 class="accueil_aside_cards_card_title">{{ category.name }}</h4> 
            </div>
            <div class="accueil_aside_cards_card_body">
                <div class="accueil_aside_cards_card_body_article">
                    {% for article in category.articles %}
                        <a  class="accueil_aside_cards_card_body_article_link" href="{{ path('app_articles_show', {'slug': article.slug}) }}">{{ article.title }}</a>
                        <p class="accueil_aside_cards_card_body_article_like">{{ article.likes }} j'aime | {{ article.dislikes }} j'aimes pas</p>

                    {% else %}
                        <p class="accueil_aside_cards_card_body_article_0">
                        Aucun article dans cette catégorie
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
            {# <div class="accueil_aside_cards_card">
                <div class="accueil_aside_cards_card_img" style="background-image: url({{asset('assets/images/ebih-il-mesopotamie-histoire.jpg')}});">
                    <h4 class="accueil_aside_cards_card_title">{{ category.name }}</h4>
                </div>
            </div>
            {% if not app.user %}
                <a href="{{ path('app_login') }}">Connecter vous pour ajouter un article</a> ou  <a href="{{ path('app_register') }}">créer un compte</a>
            {% endif %} #}
    {% endfor %}
    </div>
</aside>
{% endblock %}
