{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<h2>{{ pluralize(articles|length, 'article') }}</h2>
{% if app.user %}
    <a href="{{ path('users_articles_add') }}">Ajouter un article</a>
{% endif %}
<article class="page_les_articles">
    <div class="cards">
        {% for article in articles %}
            <div class="card">
                <div class="card_img" style="background-image: url({{asset('assets/images/carte.jpg')}});">
                    <h4 class="card_title"><b>{{ article.title }}</b></h4> 
                </div>
                <div class="card_body">
                <div>{{ article.categories }}</div>
                    <h4>{{ article.content|u.truncate(100,' ...', false) }} 
                    <a href="{{ path('app_articles_show', {'slug': article.slug}) }}"> En savoir plus <span>&#8594;</span></a></h4>
                    <h6>{{ article.likes }} j'aime | {{ article.dislikes }} j'aimes pas</h6>
                    <h6>
                        {% if article.modifiedAt is not null %}
                            Modifié le {{ article.modifiedAt ? article.modifiedAt|date('d/m/Y à H:i:s') : '' }}
                        {% else %}
                            Publié le {{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}
                        {% endif %}
                        | par <a href="#"><span>&commat;</span>{{ article.users.pseudo }}</a>
                    </h6>
        {{ include('partials/_socialBar.html.twig')}}
                </div>
            </div>
        {% else %}
            <p>Aucun article en ce moment
        {% if not app.user %}
            <a href="{{ path('app_login') }}">Connecter vous pour ajouter un article</a> ou  <a href="{{ path('app_register') }}">créer un compte</a>
        {% endif %}
        {% endfor %}
    </div>
</article>
{% endblock %}
