{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<article class="page_les_articles">
    <div class="page_les_articles_cards">
        {% for article in articles %}
            <div class="page_les_articles_cards_card">
                 <a class="page_les_articles_cards_card_link_header" href="{{ path('app_articles_show', {'slug': article.slug}) }}">
                    <div class="page_les_articles_cards_card_link_header_title">
                        <h4 class="">{{ article.title }}</h4>
                    </div>
                    <div class="page_les_articles_cards_card_link_header_img" style="background-image: url({{article.thumb}});"></div>
                </a> 
                <div class="page_les_articles_cards_card_body">
                   <div class="page_les_articles_cards_card_body_infos">
                        <div class="page_les_articles_cards_card_body_infos_calendar">
                            <icon class="fa fa-calendar"></icon> 
                            Publié le {{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}
                        </div>
                        <div class="page_les_articles_cards_card_body_infos_folder">
                            <icon class="fa fa-folder"></icon> 
                            Catégorie : {{ article.categories }}
                        </div>
                        <div class="page_les_articles_cards_card_body_infos_author">
                            <icon class="fa fa-user"></icon> 
                            Auteur : {{ article.users.pseudo }}
                        </div>
                        <div class="page_les_articles_cards_card_body_content_social">
                            {{ include('partials/_socialBar.html.twig')}}
                        </div>
                    </div>
                    <div class="page_les_articles_cards_card_body_content">
                        {{ article.content | u.truncate(350,' ... ',false) | raw}}
                    </div>
                </div>
            </div> 
                </div>
            </div> 
                </div>
            </div> 
                </div>
            </div> 
        {% endfor %}
    </div>
</article>

<aside class="page_les_articles_aside">
    <div class="page_les_articles_aside_cards">
    {% for category in categories %}
    {% for article in category.articles %}
            <div class="page_les_articles_aside_cards_card">
                <div class="page_les_articles_aside_cards_card_img" style="background-image: url({{article.thumb}});">
                    <h4 class="page_les_articles_aside_cards_card_title"><b>{{ article.title }}</b></h4> 
                </div>
                <div class="page_les_articles_aside_cards_card_body">
                    <p>Dans {{ category.name }}</p>
                    <p><a href="{{ path('app_articles_show', {'slug': article.slug}) }}">{{ article.content | u.truncate(150,' ... ',false) | raw}}Lire <span>&#8594;</span></a></p>
                    <p>{{ article.likes }} <icon class="fa fa-thumbs-o-up"></icon> | {{ article.dislikes }} <icon class="fa fa-thumbs-o-down"></icon></p>
                </div>
            </div>
        {% else %}
            {#<div class="page_les_articles_aside_cards_card">
                <div class="page_les_articles_aside_cards_card_img" style="background-image: url({{asset('assets/images/ebih-il-mesopotamie-histoire.jpg')}});">
            <h4 class="page_les_articles_aside_cards_card_title">{{ category.name }}</h4>
                </div>

            </div>
         {% if not app.user %}
            <a href="{{ path('app_login') }}">Connecter vous pour ajouter un article</a> ou  <a href="{{ path('app_register') }}">créer un compte</a>
        {% endif %} #}
        {% endfor %}
        {% endfor %}
    </div>
</aside>
  
{% endblock %}
